*{
}
body{
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
}
#calculator{
    margin: auto auto;
    background-color: black;
    height: 600px;
    width: 310px; 
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#screen{
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
    color:white;
    font-size: 50px;
    margin-bottom: 20px;

}

#screen > p{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 10px 10px;
}

#buttons > div{
    text-align: center;
    border-radius: 50% ;
    padding: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all 0.08s ease;
}

#buttons >*:hover{
    cursor:pointer;
}

#buttons > #zero{
    grid-area: 5/1/6/3;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.others{
    background-color: #a5a5a5;
    color:black;
}

.operators, .equals{
    background-color: #f1a43c;
    color: white;
}

.numbers, .decimal{
    background-color: #333333;
    color: white;
}

#buttons > #delete{
    font-size: 12px;
}

.selectedNumbers{
    background-color: #6f6f6f;
    transform: scale(0.98);
}

.selectedOthers{
    background-color: #d9d9d9;
    transform: scale(0.98);
}

.selectedOperators{
    background-color: #ffffff;
    color: #f1a43c;
    transform: scale(0.98);
}